.FunnyVideos {
	width: 100%;
	background: url("../images/background.png");
	padding: 14.7rem 0rem 0rem 0rem;

	h1 {
		color: #0d4672;
		font-size: 5.2718rem;
		font-family: "Lato";
		line-height: 113.5%;
		letter-spacing: 0.1318rem;
		margin-bottom: 7.5rem;
		text-align: center;
	}

	.Container1 {
		padding: 0 4.7rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 6.2rem;
		margin-bottom: 9.2rem;

		.Wrapper {
			display: flex;
			align-items: center;
			justify-content: center;

			.WrapperBox {
				overflow: hidden;
				width: 35.3rem;
				height: 51.4rem;
				border-radius: 3rem;
				box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
				img,
				video {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.Container2 {
		background: radial-gradient(50% 50% at 50% 50%, #105b96 0%, #0d4672 100%), #d9d9d9;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		padding: 3.9rem 8rem 14.5rem 17.2rem;

		.Top {
			margin-bottom: 5.8rem;

			p {
				color: #fff;
				font-size: 4rem;
				font-family: "Lato";
				letter-spacing: 0.16rem;
				text-transform: capitalize;
				text-align: center;
			}
		}

		.Bottom {
			display: flex;
			gap: 18.3rem;

			.Left {
				flex: 1;

				.Upload {
					margin: 0 auto;
					display: flex;
					height: 12.1rem;
					width: 19.7rem;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 1.1rem;
					color: #fff;
					font-size: 2rem;
					border-radius: 15px;
					border: 1px dashed #fff;
					box-shadow: 4px 4px 4px 0px rgba(13, 70, 114, 0.1), -4px -4px 4px 0px rgba(13, 70, 114, 0.1);
					margin-bottom: 6.7rem;
					cursor: pointer;

					p {
						font-size: 1.2rem;
						font-family: "Lato";
						letter-spacing: 0.048rem;
					}
				}

				.InputContainer {
					width: 100%;
					border-bottom: 1px solid #fff;
					margin-bottom: 2.9rem;

					label {
						color: #fff;
						font-size: 2.4rem;
						font-family: "Lato";
						letter-spacing: 0.096rem;
					}

					input {
						width: 100%;
						height: 5rem;
						border: none;
						outline: none;
						padding: 0.5rem 1rem;
						font-size: 2rem;
						background: transparent;
						color: #fff;
					}
				}

				button {
					display: block;
					margin: 0 auto;
					margin-top: 5.3rem;
					background: none;
					width: 25.4rem;
					height: 5.2rem;
					border-radius: .77rem;
					border: .1542rem solid #fff;
					color: #fff;
					font-size: 1.8rem;
					font-family: "Lato";
					letter-spacing: .072rem;
					cursor: pointer;
					transition: all .2s ease-in-out;

					&:hover{
						background: #043458;
					}
				}
			}

			.Right {
				width: 53.1rem;
				height: 51.9rem;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
