.Gallery {
	width: 100%;
	background: url("../images/background.png");
	padding: 14.7rem 3rem 15rem 3rem;

	h1 {
		color: #1c527b;
		font-size: 6rem;
		font-family: "Lato";
		letter-spacing: 0.24rem;
		margin-bottom: 9.3rem;
		text-align: center;
	}

	.ImageContainer {
		width: 100%;

		.Row {
			display: flex;
			justify-content: space-around;

			.ImgWrapper {
				width: 57.5rem;
				height: 45.8rem;
				border-radius: 3rem;
				// border: 2rem solid #fff;
				box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25), -4px -4px 4px 0px rgba(0, 0, 0, 0.25);
				position: relative;
				padding: 2rem;

				.InnerImage {
					width: 100%;
					height: 100%;
					border-radius: 3rem;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
					}
				}

				.PinLeft {
					width: 12.4rem;
					height: 8.87rem;
					position: absolute;
					top: 1%;
					left: 5%;
				}
				.PinRight {
					width: 12.4rem;
					height: 8.87rem;
					position: absolute;
					top: 1%;
					right: 5%;
				}

				&.Right {
					margin-top: 10rem;
				}

				&.Left {
					margin-top: -3rem;
				}
			}
		}
	}
}
