.Message {
	width: 100%;
	background: url("../images/background.png");
	padding: 17.4rem 5rem 13.7rem 5rem;

	.Container {
		h1 {
			color: #0d4672;
			font-size: 4rem;
			font-family: "Lato";
			letter-spacing: 0.16px;
			font-weight: 400;
			margin-bottom: 1.1rem;
		}
		span {
            display: block;
			width: 10.9rem;
			height: 0.5rem;
			border-radius: 10rem;
			background: #0d4672;
			margin-bottom: 1.1rem;
		}
		p {
			display: flex;
			width: 100%;
			flex-direction: column;
			color: #0d4672;
			font-size: 1.6rem;
			font-family: "Lato";
			line-height: 216%;
            margin-bottom: 5rem;
		}
	}
}
